<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to The Something Awful</title>
		<link rel="stylesheet" href="/css/navbar.css">
	</head>
	
	<body>
		<div th:replace="~{fragments/navbar :: navbar}"></div>	
		<h1>The M.O.N.O Collective is not responsible for your future</h1>
		<div>
			<span>Name: </span>
			<span th:text="${newUser.name}"></span>
		</div>
		<div>
			<span>Surname: </span>
			<span th:text="${newUser.surname}"></span>
		</div>
		<div>
			<span>Email: </span>
			<span th:text="${newUser.email}"></span>
		</div>
	</body>
</html>