<!DOCTYPE html>
<html>
	<head>
		<title>The Something Awful</title>'
		<link rel="stylesheet" href="/css/singleThread.css">
		<link rel="stylesheet" href="/css/navbar.css">
	</head>
	<body>
		<div th:replace="~{/fragments/navbar :: navbar}"></div>
		<hr>
		<main>
			<h1 th:text="${thread.title}">Thread</h1>
			<hr>
			<section class="posts-container">
				  <p th:if="${#lists.isEmpty(thread.posts)}">No replies yet</p>	
				  <ul class="post-list">
				    <li th:each="post : ${thread.posts}">
						<div th:if="${post.imageFileName}">
							<img th:src="@{'/images/threads/' + ${post.imageFileName}}" width="400px" height="300px">
						</div>
				        <p th:text="${post.content}"></p>
						<span th:text="|${post.postType} (user: ${post.author.nickname})|"></soan>
						<hr>
				    </li>
				  </ul>
			</section>
			<hr>
			<p th:if="${thread.status.name() == 'CLOSED' }">This thread has been closed</p>
			<p th:if="${thread.status.name() == 'DELETED' }">This thread has been deleted</p>
			<section class="newReply" th:if="${thread.status.name() == 'OPEN'}">
				<h2>Reply to this thread</h2>
				<form th:action="@{/threads/{id}/posts/new(id=${thread.id})}" method="post">
					<label> Reply
						<textarea name="postContent"></textarea>
					</label>
					<button>Post</button>
				</form>
			</section>
		</main>
	</body>
</html>